{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    ["@babel/env", { "target": { "node": "current" } }]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  }
}
